body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #333;
    color: white;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

#newCatButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#newDogButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#newPetButton {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

#newCatButton:hover {
    background-color: #555;
}

#imageContainer {
    text-align: center;
}

#catImage {
    max-width: 100%;
    height: auto;
}

.petImage {
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.5);
    border: 1px solid #333; /* Add a border */
    background-color: #f0f0f0; /* Add a background color */
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 10px 0;
    }
}
